@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@font-face {
  font-family: "DM Sans";
  src: url(./src/fonts/DMSans-VariableFont_opsz\wght.ttf);
}

* {
  font-family: "DM Sans", sans-serif;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/*navigation bar*/
/* Body section styles */
.body-section {
  transition: transform 0.3s ease-out; /* Add a smooth transition */
}

/* When the menu is active (open) */
.body-section.active {
  transform: translateY(250px); /* Move the body section to the right */
}
/* Hero Section */

/* My Services */
.service-card {
  height: 260px;
  width: 450px;
}

/* Projects Section */

/* Contact Me Section */

/* Footer */
footer {
  background-color: #14142b;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

/* styles.css */
.animate-me {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease; /* Increased duration */
}
