@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@font-face {
  font-family: "DM Sans";
  src: url(./src/fonts/DMSans_18pt-Regular.ttf);
}

* {
  font-family: "DM Sans", sans-serif;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.navbar-container {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Style for the line */
.navbar-container::after {
  content: "";
  position: absolute;
  left: 50%; /* Start position at the center */
  bottom: -2px;
  width: 0; /* Initially no width */
  height: 2px;
  background-color: #4e4b66; /* Initial color of the line */
  transition: width 0.3s ease; /* Transition effect for smoother animation */
  transform: translateX(-50%); /* Move the line to center */
}

/* Style for the line on hover */
.navbar-container:hover::after {
  width: calc(100% + 20px); /* Set width to full width of the container */
  transition: width 0.3s ease; /* Transition effect for smoother animation 
  */
}
/* Body section styles */
.body-section {
  transition: transform 0.3s ease-out; /* Add a smooth transition */
}

/* When the menu is active (open) */
.body-section.active {
  transform: translateY(250px); /* Move the body section to the right */
}
/* Hero Section */

/* My Services */
.service-card {
  height: 260px;
  width: 450px;
}

/* Projects Section */

/* Contact Me Section */

/* Footer */
footer {
  background-color: #14142b;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

/* styles.css */
.animate-me {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease; /* Increased duration */
}
